<br><br>
<h1>Welcome to the Employee Management System </h1>

<body>
  <div class="text-center">
    <!--<img src='img_employee.jpg' class="img-fluid" alt="Responsive image"> -->
  </div>


  
</body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="/signin" type="onclick">signin</button>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="/app-dashboard" type="submit">Dashboard</button>
    </div>
  </div>
</nav>